:root {
    --sage-color: #659a83;
    --lightpurple-color: #F7F2F8;
    --goldish-color: #9A8365;
    --lavender-color: #4A3053;
} 

* {
    margin: 0;
}

body {
    color:var(--lightpurple-color)
}

/* HEADER */
header {
    padding: 10px 20px 10px 0;
    background-color: var(--lavender-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav {
    margin: 15px 0;
}

header nav ul {
    display: flex;
    list-style: none;
}


header a{
    display: flex;
    font-size: 25px;
    color: var(--lightpurple-color);
}

header nav ul li{
    padding: 10px 15px;
}

header h1 {
  color: var(--lavender-color);
  background-color: var(--lightpurple-color);
  padding: 15px 20px 0 30px;
}  

.hero-text {
padding:50px;
/* display: flex;
flex-direction: row;
align-items: flex-end; */
}

h2 {
    color:#9A8365
    
}

h3 {
    color: #4A3053;
}

p {
 font-size: 20px;
}


/* HERO */
.hero {
background-image: url("./images/ducks.jpg");
background-size: cover;
background-position: 80%;
}


/* Main section */
.content {
    margin: 20px;
    width: 20%;
    
}

 .section-title {
    font-size: 30px;
    color: var(--lavender-color);
    text-align: left;
    margin: 40px 0 0 70px;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
 }

.top-photo img {
    width: 600px;
    height: 350px;
}

.right-column {
    width: 60%;
    padding: 0 20px 0 70px;
    border-left: #9A8365 3px solid;
    
}

.grid {
    margin: 40px 0 0 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    /* width: 1000px;
    padding: 30px;
    align-content: space-between;
    flex: 1 0 0; */
}

.box {
    flex: 1 0 0;
    text-align: center;
    margin: 20px;
    width: 20%;
    border-style: solid;
    border-width: 1px;
  }

.box img {
    width: 100%;
    min-width: 300px;
    min-height: 150px;
}
.caption {
    bottom: 10px;
    background-color: var(--goldish-color);

}


/* .contents {
    padding-left: 20%;
    flex: 12;
    display: flex;
    flex-wrap: wrap;
    color: var(--sage-color);
} */

/* ABOUT ME */
.about-me {
    
}

/* WORK */
.work {
   
}

/* CONTACT ME */
.contact-me {
}

/* FOOTER */
footer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}