:root {
    --sage-color: #659a83;
    --lightpurple-color: #e9dfeb;
    --goldish-color: rgb(170, 159, 135);
    --lavender-color: #201724;
} 

* {
    margin: 0;
}

body {
    color:var(--lavender-color);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(236, 233, 225, 0.815);

}

/* HEADER */
header {
    background-image: url("./images/Header.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}

header div {
    margin: 0;
    padding: 0 40px 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(74, 48, 83, .5); 
}

header nav {
    margin: 15px 0;
}

header nav ul {
    display: flex;
    list-style: none;
}


header a{
    display: flex;
    font-size: 30px;
    color: var(--lightpurple-color);
    text-decoration: none;
   
}

header nav ul li{
    padding: 10px 15px;
}

 h1 {
  font-size: 30px;
  color: var(--lightpurple-color);
  padding: 30px;
  font-weight: 500;
}  

h2 {
    color:var(--lavender-color);
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    background-color: var(--goldish-color);
    bottom: auto;
    padding: 15px;
    margin: 0 500px 0 500px;
}

h3 {
    color: var(--lavender-color)
}

p {
 font-size: 20px;
}


/* HERO */
.hero {
    background-image: url("./images/Header.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    padding-bottom: 100px;
}


/* Main section */
.content {
    margin: 20px;
    width: 20%;
    
}
 .section-title {
    font-size: 30px;
    color: var(--lavender-color);
    text-align: left;
    margin: 40px 0 30px 30px;
    display: flex;
 }

.right-column .profile img {
    width: 413px;
    height: 343px;
    border: var(--goldish-color) solid 5px;
}

.profile {
    display: flex;
    
}
 
.photo-text {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}
.top-photo img {
    width: 852px;
    height: 400px;
    border: var(--goldish-color) solid 5px;
}

.right-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    padding: 0 70px 0 70px;
    margin: auto;
    border-left: var(--goldish-color) 5px solid;
}

.right-column .photo-text{
    display: flex;
    flex-direction: row;
}
.right-column > div {
    flex: 1 1 100%;
}


.wrapper {
    display: flex;
}

.box {
    flex: 1 1 50%;
    position: relative;
}
  
.box img {
    width: 421.2px;
    height: 232.47px;
    border: var(--goldish-color) solid 5px;
}
.caption {
    position: absolute;
    text-align: left;
    z-index: 400;
    top: 50%;
    left: 0;
    background-color: var(--goldish-color);
    padding: 20px 20px 20px 25px;
}

.caption-RB {
    position: absolute;
    text-align: left;
    z-index: 900;
    top: 175%;
    background-color: var(--goldish-color);
    padding: 20px 20px 20px 25px;
}

/* CONTACT ME */
.contact {
    /* background-image: url("./images/Header.jpg"); */
    background-size: cover;
    background-position: 80%;
}
.contact-background {
    background-color: rgba(177, 155, 107, 0.5);
    padding: 20px
}

.contact h4 {
    font-size: 35px;
    text-align:center;
}

.contact p {
    text-align: center;
}

address {
    font-size: 20px;
    text-align: center;
    font-style: normal;
    padding-top: 5px;

}

address a {
color: var(--lavender-color);
text-decoration: none;
}

/* FOOTER */
footer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("./images/Header.jpg");
    background-size: cover;
    background-position: 80%;
    padding: 10px 15px;
    }


/* Media */

/* 
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h3 {
        text-align: center;
        width: 100%;
    }

    .contact{
        width: 100%;
    }

    .section-title {
        width: 80%;
    }


@media screen and (max-width: 658px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
}

@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }
}
}